.contact {
  margin: 80px auto;
  max-width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; /* Ensure padding does not affect width */
}

.contact-col {
  flex-basis: 48%;
  color: #676767;
  animation: fadeInUp 1s ease-in-out;
}

.contact-col h3 {
  color: #212EA0;
  font-weight: 600;
  font-size: 1.5625rem; /* Adjusted font size */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-col h3 svg {
  margin-left: 10px;
  font-size: 1.875rem; /* Adjusted font size */
  color: #4fa245;
}

.contact-col p {
  max-width: 450px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-col ul {
  list-style: none;
  padding: 0;
}

.contact-col ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 1rem; /* Adjusted font size */
}

.contact-col ul li svg {
  margin-right: 10px;
  font-size: 1.25rem; /* Adjusted font size */
  color: #212EA0;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  background: #EBECFE;
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  border-radius: 5px;
  resize: none;
  font-size: 1rem; /* Adjusted font size */
}

.contact form label {
  font-size: 0.875rem; /* Adjusted font size */
  color: #212121;
  margin-bottom: 5px;
  display: block;
}

.contact-col span {
  display: block;
  margin: 20px 0;
  font-size: 1rem; /* Adjusted font size */
  color: #212EA0;
}

.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-in-out;
}

.btn {
  background-color: #212EA0;
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 1rem; /* Adjusted font size */
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.btn svg {
  font-size: 1.25rem; /* Adjusted font size */
}

.btn:hover {
  background-color: #1a237e;
}

/* Media queries for responsive design */
@media (max-width: 700px) {
  .contact {
    flex-direction: column;
    padding: 30px;
  }
  
  .contact-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  
  .contact form input,
  .contact form textarea {
    font-size: 0.875rem; /* Adjusted font size for smaller screens */
  }
  
  .btn {
    padding: 12px 24px;
    font-size: 0.875rem; /* Adjusted font size for smaller screens */
  }
}

/* Keyframes for animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
